*{
    margin: 0;
    padding: 0;
}
:root
{
    /*-----------COLORS-----------*/
    /* Backgrounds */
    --mainBackgroundColor: #0F0F18;
    --secondaryBackgroundColor:#171723 ;
    --opacityBackgroundColor: #171723c7;
    --projectBackgroundColor: #1b1b2b;
    --skillBackgroundColorHover:#212130  ;
    --terciaryColor:#2e2e43a6 ;
    /*Buttons & others*/
    --buttonBackgroundColor:#171723 ;
    --buttonBorderColor:#2E2E43 ;
    --buttonHoverFontColor: ;
    --buttonHoverBGColor:rgba(27, 173, 141, 0.274) ;
    /*Font colors*/
    --primaryFontColor:#ffffff ;
    --emphasisFontColor: #0bcaa1;
    --darkEmphasisColor:rgba(27, 173, 141, 0.781) ;
    /*--------FONT STYLES---------*/
    --mainFont: "Oxygen", sans-serif;
    --secondaryFont:"Zain", sans-serif;
    /*--------FONT SIZES----------*/
    --fontSizeXL: 4em;
    --fontSizeL: 3em;
    --fontSizeM: 2em;
    --fontSizeS: 1.6em;
    --fontSizeXS: 1em;
    --fontSizeH3: 1em; 
    --fontSizeP: .7em;
    /*--------FONT WEIGHTS--------*/
    /*--------MARGIN BOTTOM-------*/
    --marginBottom: 1em;
    /*-------HEADER HEIGHT--------*/
    --headerHeight: 4em;
    /*-----------CARDS-------------*/
    --cardWidth: 100%;
    --cardHeight: 18em;
    /*-----BORDER RADIUS----------*/
    --border-radius: .4em;
}
body
{
    font-family: var(--mainFont);
    background: rgb(15,15,24);
    background: linear-gradient(90deg, rgba(15,15,24,1) 0%, rgba(20,19,42,1) 25%, rgba(16,16,40,1) 50%, rgba(20,19,42,1) 75%, rgba(15,15,24,1) 100%);
}
header
{
    width: 100%;
    height: var(--headerHeight);
    position: fixed;
    backdrop-filter: blur(10px);
    z-index: 7;
}
/*-----CONTAINER-----*/
.nav
{
    display: flex;
    width: 90%;
    height: 100%;
    align-items: center;
    margin: 0 auto;
}
/*-------LOGO--------*/
.logo
{
    color: var(--emphasisFontColor);
    width: 30%;
}
.logoImage{
    width: 3em;
}
/*--------NAV--------*/
.nav ul
{
    list-style: none; 
    display: flex;
    width: 60%;
    padding: 0;
    text-decoration: none;
    height: 100%;
    margin: 0 0 0 auto;
    text-align: center;
}
.nav ul li
{
    display: flex;
    border-bottom: 0.1em solid transparent;
    transition: border-bottom 0.4s; 
    height: 100%;
    text-align: center;
    width: 100%;
    
}
.nav ul li a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: var(--primaryFontColor);
    display: inline-block;
    transition: color 0.4s;
    align-content: center;
    
}

.nav ul li:hover a{
    color: var(--emphasisFontColor);
}

.nav ul li:hover {
    border-bottom: 0.1em solid var(--emphasisFontColor);
}
/*--------MAIN--------*/
main{
    padding-top: var(--headerHeight);
    z-index: 1;
}
.Section1
{
    width: 80%;
    margin: 0 auto;
}
.personalContainer
{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;

}
.personalData
{
    width: 100%;
    padding-top: 5em;
    text-wrap: balance;
    color: var(--primaryFontColor);
}
.personalImage
{
    width: 100%;
    margin: auto;
    text-align: center;
}
.dataText
{
    margin: 0 auto;
}
.emphasis
{
    color: var(--emphasisFontColor);
}
#hello
{
    font-size: var(--fontSizeL);
}
#name {
    font-size: var(--fontSizeXL);
    overflow: hidden;
    border-right: 0.02em solid;
    white-space: nowrap;
    overflow: hidden; 
    animation: typing 3s, cursor .4s step-end infinite alternate; 
    display: inline-block;
}

@keyframes typing {
    from { width: 0 }
    to { width: 75% }
}

@keyframes cursor {
    50% { border-color: transparent; }
}
#programer
{
    font-size: var(--fontSizeM);
}
#dataP
{
    font-size: var(--fontSizeS);
    line-height: 1.5em;
    padding-top: 1em;
}
/*-------BUTTONS------*/
.socialLinks {
    display: flex;
    gap: 1em; 
    padding-top: 1em;
    width: 80%;
}
.buttonSocialMedia
{
    transition: transform 0.3s; 

}
.buttonSocialMedia img {
    width: 2em; 
    height: 2em;
    border-radius: 50%;
    filter: invert(100%);
}

.buttonSocialMedia:hover {
    transform: scale(1.1); /* Efecto de aumento al pasar el mouse */
}
/*-----SVG--------*/
.Section2 {
    margin: 0;
    padding: 0;
    line-height: 0;
}
.Section2 svg {
    display: block;
    margin: 0;
    padding: 0;
}
/*----PROJECTS----*/
.Section3
{
   background-color: var(--terciaryColor);
   color: var(--primaryFontColor);
   font-size: var(--fontSizeM); 
   text-align: center;
   margin: 0;
   padding: 0;
}
#myprojects
{
    margin-bottom: .7em;
    margin-top: 0;
}
.projectsContainer
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 80%;
    margin: auto;
    padding: .5em;
    grid-gap: 1.5em;
}
.project{
    background-color: var(--projectBackgroundColor);
    border: 0.01em solid var(--terciaryColor);
    border-radius: var(--border-radius);
    transition: 0.4s;
    filter: brightness(80%);
    padding: .5em;
}
.project:hover
{
    scale: 1.02;
    filter: brightness(110%);
    box-shadow: 0 0 0.2em var(--emphasisFontColor);
}
.projectImage
{
    border-radius: var(--border-radius);
    width: 100%;
    height: 8.2em;
}
.projectData
{
    text-align: left;
    font-size: var(--fontSizeP);
    font-weight: 200;
}
.projectData h3
{
    text-align: center;
    font-size: var(--fontSizeH3);
    margin-bottom: .5em;
}
.projectP
{
    font-weight: 800;
    font-size: var(--fontSizeP);
    margin-top: 3em;
}
.darkEmphasis
{
    color: var(--darkEmphasisColor);
}
/*----HABILIDADES----*/
.Section4
{
    color: var(--primaryFontColor);
    font-size: var(--fontSizeM);  
    text-align: center;
    margin-top: -2em;
    height: 10em;
}
.skillContainer
{
    width: 80%;
    margin: 0 auto;
}
.skillContainer h2
{
    margin-bottom: .7em;
}
.lenguajes , .herramientas
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
    margin: auto;
    padding: .5em;
    grid-gap: 1em;
}
.lenguaje, .herramienta
{
    border: 0.01em solid var(--terciaryColor);
    background-color: var(--buttonBackgroundColor);
    display: flex;
    align-content: center;
    display: grid;
    grid-template-columns: 15% 75%;
    grid-template-rows: 1fr;
    padding: .5em;
    border-radius: var(--border-radius);
    height: 1em;
}
.skillImage
{
    width: 1em;
    height: auto;
    transition: 0.4s;
}
.skillText
{
    font-size: var(--fontSizeP);
    transition: .4s;
    text-align: center;
    margin: 0 auto;
    align-content: center;
}
.lenguaje:hover img,.herramienta:hover img
{
    transform : scale(1.2);
}
.lenguaje:hover p, .herramienta:hover p
{
    margin-top: -1em;
}
.lenguaje:hover,.herramienta:hover
{
    box-shadow: 0 0 0.3em var(--emphasisFontColor);
    background-color: var(--skillBackgroundColorHover);
    filter: brightness(110%);
}
.buttons
{
   width: 100%;
   margin: 0 auto;
   display: flex;
   justify-content: flex-start;
}
.languageBTN, .ToolsBTN {
    font-size: .6em;
    margin: 0 .5em;
    padding: 1em;
    border: none;
    background-color: transparent;
    color: var(--primaryFontColor);
    cursor: pointer;
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease;
    font-weight: 600;
    margin-bottom: 1em;
}

.languageBTN:hover, .ToolsBTN:hover{
    background-color: var(--buttonHoverBGColor);
}
.languageBTN.active, .ToolsBTN.active {
    background-color: var(--skillBackgroundColorHover);
}
/*-----SOBRE MI-----*/
#Section5
{
    text-align: center;
    color: var(--primaryFontColor);
    font-size: var(--fontSizeM);
    width: 90%;
    margin:8em auto 4em auto;
}
#Section5 h2
{
    margin-bottom: .7em;
}
.aboutContainer
{
    font-size:var(--fontSizeP);
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    background-color: var(--terciaryColor);
    border-radius: var(--border-radius);   
    padding:1em; 
}
.aboutImage
{
    align-content: center;
}
.aboutImage img
{
    width: 90%;
    margin: 0 auto;
    transition: .4s;
}
.aboutImage img:hover
{
    box-shadow: 0 0 0.3em var(--emphasisFontColor);
}
.aboutText
{
    text-align: left;
    align-content: center;
    font-weight: 200;
    text-wrap: balance;
    margin: auto;
}
.buttonCV
{
    padding: .5em;
    font-size: .9em;
    border-radius: 3em;
    background-color: var(--projectBackgroundColor);
    color: var(--primaryFontColor);
    cursor: pointer;
    transition: .4s;
    text-decoration: none;
    display: inline-block;
}
.buttonCV:hover
{
    box-shadow: 0 0 0.3em var(--emphasisFontColor);
}
/*----CONTACTO----*/
#Section6
{
    color: var(--primaryFontColor);
    text-align: center;
    font-size: var(--fontSizeM);
    margin: 0 auto;
    padding-bottom: 4em;
}
#Section6 h2
{
    margin-bottom: 1em;
}
.contactContainer
{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    width: 90%;
    margin: 0 auto;
    border: 0.01em solid var(--terciaryColor);
    border-radius: var(--border-radius);
    height: auto;
    background-color: var(--buttonBackgroundColor);
}
.contactImage
{
    width: 75%;
    margin: auto;
    padding: 1em;
}
.socialMediaContainer
{
    width: 100%;
    margin: auto;
}
.socialMedia
{
    border: 0.01em solid var(--terciaryColor);
    border-radius: var(--border-radius);
    background-color: var(--buttonBackgroundColor);
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr;
    padding: .2em;
    margin: 1em;
    height: 1em;
    transition: .2s;
}
.socialMedia:hover
{
    box-shadow: 0 0 0.3em var(--emphasisFontColor);
}
.socialMedia img
{
    width: 1em;
    filter: invert(100%);
    margin-left: .1em;
}
.socialMediaText 
{ 
    align-content: left; 
    text-align: left;
    margin: .09em 0 0 .5em;
    font-size: var(--fontSizeP);
}
.socialMedia a
{
    text-decoration: none;
}
.detalle
{
    color: #0bcaa1;
    cursor: pointer;

}
/*---ARREGLO DE FONTS*/
.zain
{
    font-family: var(--secondaryFont);
    font-weight: 300;
    font-size: 1.2em;
}
/*----------- MEDIA QUERIES -----------*/
/* Smartphones */
@media (max-width: 768px) {
    .nav {
        margin: 0 auto;
    }
    .nav ul{
        width: 90%;
        margin: 0 auto;
        padding-left: 4em;
    }
    .logo{
        width: 10%;
    }
    .personalContainer {
        display: block;
        padding-top: 3em;
    }
    .personalData {
        text-align: center;
        padding-top: 1em;
    }
    .dataText {
        padding-top: .5em;
    }
    #hello {
        font-size: var(--fontSizeM);
    }
    #name {
        font-size: var(--fontSizeL);
    }
    #programer {
        font-size: var(--fontSizeS);
    }
    #dataP {
        font-size: var(--fontSizeXS);
    }
    .personalImage img {
        width: 50%;
    }
    .projectsContainer {
        display: block;
        width: 100%;
        padding: 1em;
        width: 80%;
    }
    .socialLinks 
    {
        margin: 0 auto;
    }
    .socialLinks a{
        margin: 0 auto ;
    }
    .project
    {
        width: 90%;
        margin: 0 auto 1em;
    }
    .Section4 {
        display: block;
    }
    .lenguajes, .herramientas {
        grid-template-columns: 1fr 1fr;
        padding: 0em;
    }
    .categoryBtn {
        display: block;
    }
    .categoryBtn button {
        margin: 1em auto;
    }
    .Section5 p {
        padding: 0 2em;
    }
    .aboutContainer{
        grid-template-columns: 1fr;
    }
    .aboutImage{
        width: 50%;
        margin: 0 auto;
    }
    .aboutText{
        text-align: center;
    }
    .contactContainer
    {
        grid-template-columns: 1fr;
    }
    .contactImage{
        width: 60%;
    }
}

/* Tablets */
@media (min-width: 769px) and (max-width: 1024px) {
    .personalImage img {
        width: 100%;
    }
    .Section3{
        width: 100%;
    }
    .projectsContainer {
        grid-template-columns: 1fr;
    }
    .Section4 {
        display: block;
    }
    .lenguajes, .herramientas {
        grid-template-columns: 1fr 1fr;
    }
    .Section5 p {
        padding: 0 4em;
    }
     .contactContainer
    {
        grid-template-columns: 1fr;
    }
    .contactImage{
        width: 60%;
    }
}

/* Laptops */
@media (min-width: 1025px) and (max-width: 1440px) {
    .projectsContainer {
        grid-template-columns: 1fr 1fr;
    }
    .lenguajes, .herramientas {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Desktops */
@media (min-width: 1441px) and (max-width: 2560px) {
    .projectsContainer {
        grid-template-columns: 1fr 1fr 1fr;
        width: 95%;
    }
    .lenguajes, .herramientas {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* TV */
@media (min-width: 2561px) {
    .projectsContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .lenguajes, .herramientas {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .contactImage{
        width: 30%;
    }
}